lab1/dataset/distance_condensed.py

Report.pages

.idea/workspace.xml

.idea/markdown-exported-files.xml

.idea/markdown-navigator.xml

.idea/markdown-navigator/profiles_settings.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

*.pyc
__pycache__/
*.DS_Store